<template>
  <section>
    <form v-if="logged===false" @submit.prevent="signin()">
      <label for="email">Email :</label>
      <input type="email" v-model="email">
      <br>
      <label for="password">Password :</label>
      <input type="password" v-model="password">
      <br>
      <button @click="signin()">Login</button>
    </form>
    <p v-if="message">{{message}}</p>
    <button v-if="logged===true" @click="logout()">Logout</button>
  </section>
</template>

<script>
import { Auth } from "@/services/auth";
export default {
  data() {
    return {
      email: "",
      password: "",
      message: "",
      logged: false
    };
  },
  mounted(){
      if(localStorage.getItem('token')){
          this.logged = true;
      }
  },
  methods: {
    signin() {
      const auth = new Auth();
      auth.login(this.email, this.password)
        .then(() => (this.logged = true))
        .catch(() => (this.message = 'Credentials error'));
    },
    logout(){
        localStorage.removeItem('token');
        this.logged=false;
    }
  }
};
</script>

<style>
</style>
