<template>
<section>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link>  |
      <router-link to="/about">About</router-link>  |
      <router-link to="/register">Register</router-link>
      <br>
      <br>
      <login-vue></login-vue>
    </div>
    <router-view/>
  </div>
</section>
</template>

<script>
import LoginVue from "./Login.vue";
export default {
    components:{
        LoginVue
    },
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>

